/* Shared site-wide styles */

/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* NavBar */
.navbar {
  background-color: rgb(0, 57, 99);
}

.navbar a, .navbar-collapse {
  color: white;
  text-decoration: none;
  padding-bottom: 0
}

.navbar a.dropdown-item {
  color: black;
}

.navbar a.nav-link:hover {
  color: #a1a1a1;
  border-bottom: 3px solid #febb36;
}

a.navbar-brand img {
  height: 50px;
}


  /* Top Container */
  .top-container {
    display: grid;
    grid-gap: 2px;
    grid-template-areas:
      'featured featured top-box-a'
      'featured featured top-box-b';
    border-bottom:#febb36 10px solid;
  }

  /* featured */
  .featured {
    grid-area: featured;
    min-height: 400px;
    background-size: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    box-shadow: var(--shadow);
  }

  .featured h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
  }

.btn-color-y {
  color: rgb(0, 57, 99);
    background-color:  #febb36;
    border: solid;
    border-color: #febb36;
    border-radius: 0%;

}
.btn-color-b{
  color: white;
    background-color:  rgb(0, 57, 99);
    border: none;
}

.rounded-img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
  /* Top Box */
  .top-box {
    display: grid;
    align-items: left;
    justify-items: left;
    box-shadow: var(--shadow);
    padding: 1.5rem;
  }

  .top-box-a {
    grid-area: top-box-a;
    color: var(--light);
  }

  .top-box-b {
    grid-area: top-box-b;
    color: var(--light);

  }
  .events_advertisments{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;

  }
  .events_advertisments a{
    text-decoration: none;
  }

  .footer_styling {
    background-color: rgb(0, 57, 99);
    color : white;
    bottom: 0;
    margin: 0;
    height: 300px !important;
    border-radius: 0;
  }

  #btn-footer{
    color: rgb(0, 57, 99);
    background-color:  #febb36;
    border: solid;
    border-color: #febb36;
    border-radius: 0%;
  }