/* Shared site-wide styles */

/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* NavBar */
.navbar {
  background-color: rgb(0, 57, 99);
}

.navbar a, .navbar-collapse {
  color: white;
  text-decoration: none;
  padding-bottom: 0
}

.navbar a.dropdown-item {
  color: black;
}

.navbar a.nav-link:hover {
  color: #a1a1a1;
  border-bottom: 3px solid #febb36;
}

a.navbar-brand img {
  height: 50px;
}


  /* Top Container */
  .top-container {
    display: grid;
    grid-gap: 0px;
    grid-template-areas:
      'featured featured featured featured top-box-a'
      'featured featured featured featured top-box-b';
    border-bottom:#febb36 10px solid;
  }

  /* featured */
  .featured {
    grid-area: featured;
    min-height: 400px;
    background-size: 100%;
    padding: 0;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: var(--shadow);
    background-color: rgba(0,0,0,0.5) !important;
  }
 
  .featured h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
  }

.btn-color-y {
  color: rgb(0, 57, 99);
    background-color:  #febb36;
    border: solid;
    border-color: #febb36;
    border-radius: 0%;

}
.btn-color-b{
  color: white;
    background-color:  rgb(0, 57, 99);
    border: none;
}

  
  .overlay {
      background-color: rgba(0,0,0,0.5);
      height: 100%;
      width: 100%;
  }
.row-header {
    margin: 0;
    padding: 0;
  }
.header{
    margin: 0;
    padding: 0;
  }
.rounded-img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
  /* Top Box */
  .top-box {
    display: grid;
    align-items: left;
    justify-items: left;
    box-shadow: var(--shadow);
  }

  .top-box-a {
    grid-area: top-box-a;
    color: var(--light);
    background-size: 100%;
  }

  .top-box-b {
    grid-area: top-box-b;
    color: var(--light);
    background-size: 100%;
    margin: 0;
    padding: 0;
    
  }
  .bg-g {
    background-color: #eee;
    margin: 0;
    padding: 0
  }
  .span-holder {
    justify-content: flex-end;
    display: flex;
  }
  .span-align {
    float: right;
    vertical-align: bottom !important;
  }
  .events_advertisments{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;

  }
  .events_advertisments a{
    text-decoration: none;
  }

  .footer_styling {
    background-color: rgb(0, 57, 99);
    color : white;
    bottom: 0;
    margin: 0;
    height: 300px !important;
    border-radius: 0;
  }

  #btn-footer{
    color: rgb(0, 57, 99);
    background-color:  #febb36;
    border: solid;
    border-color: #febb36;
    border-radius: 0%;
  }