
{% extends 'base.html' %}
{% load article_card %}
{% block content %}
<div class="row">
        <div class="col-md-8">
      
        </div>
        <div  class="col-md-4 mr-0 pr-0">
      
      
        <form action="" method="GET">
      
        <div class="col-lg-10">
                <div class="input-group">
                  <input type="text" class="form-control" name='q' placeholder="Search">
                  <span class="input-group-btn">
                    <button class="btn btn-color-y" type="submit">Search</button>
                  </span>
                </div>
              </div>
        </form>
        </div>
       
  <div class="container">
      {% if user.is_authenticated%}
        <a class="btn btn-color-y" href="{% url 'articles:add' %}">
                Add New article
              </a>
       {% endif %}
      <div class="row">
          {% for article in articles %}
              {% article_card article %}
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}
