{% extends 'base.html' %}
{% load static %}
{% load markdown_deux_tags %}
{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'articles/css/articles_style.css' %}">
  <script type="text/javascript" src="{% static 'articles/js/fav.js' %}"></script>
{% endblock %}
{% block content %}


  <div class="jumbotron" style="background-image:url({{article.image_url}}) ">
    <div class="overlay   d-flex align-items-end">
    <div class="container">
      <h1> {{article.title}}</h1>
   </div>
  </div>
  </div>
  <div class="container-fluid">
  <div class='row pl-5 py-2' style="background-color: gainsboro">
    <div class="col-sm-3">
      <div class="row">
        Author
      </div>
      <div class="row">
          <a href="{%url 'profiles:profile' article.author.username%}">{{article.author_name}}</a>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
          Date Published
        </div>
        <div class="row">
            {{article.created_at.date}}
        </div>
      </div>
      <div class="col-sm-3">
          <div class="row">
            Categories
          </div>
          <div class="row">
              {%for category in article_categories %}
                <a href="{% url 'articles:category' category.slug %}"><h4>{{category.name}}</h4></a>
              {%endfor%}
          </div>
        </div>
        <div class="col-sm-2">
          <div class= "align-middle">
            <div class = "row">

              <button class="btn" onclick="fav('{% url "articles:favorite" article.slug %}')">
      <span id="fans_number">{{article.fans_number}}</span>
      <span id="heart" class="fas fa-heart {% if is_fan %}text-danger{% else %}text-muted{% endif %}"
      ></span>
    </button>

          </div>
          </div>
        </div>
        <div class="col-sm-1">
          <div class= "align-middle">
              {% if showUpdateBtn %}
            <a class="btn btn-primary" href="{% url 'articles:update' article.slug %}">
                    Edit
                 </a>
              {% endif %}
          </div>
          </div>
  </div>
</div>
<div class="container">
  <p></p>
  <p>
    {{ article.content|markdown }}

      </p>

</div>

{% endblock %}
