
        <div class="col-sm-12 col-md-4 mb-5">
        <div class="card">
            <img class="card-img-top"  height="200vh" src={{article.image_url}} alt="">
          <div class="card-body">
            <h5 class="card-title text-truncate">{{ article.title}}</h5>
            <p class="card-text">Written by:
              {{article.author_name}}
            </p>
            <a href="{% url 'articles:article' article.slug %}" class="btn btn-color-b">View Article</a>
          </div>
        </div>
      </div>
