{% extends 'base.html' %}
{% load static %}
{% block stylesheets %} 
  <link rel="stylesheet" href="{% static 'articles/css/articles_style.css' %}">
{% endblock %}
{% block content %}

  
  <div class="jumbotron" style="background-image:url({{article.image_url}}) ">
    <div class="overlay   d-flex align-items-end">
    <div class="container">
      <h1> {{article.title}}</h1>
   </div>
  </div>
  </div>
  <div class="container-fluid">
  <div class='row pl-5 py-2' style="background-color: gainsboro">
    <div class="col-sm-3">
      <div class="row">
        Author
      </div>
      <div class="row">
          {{article.author}}
      </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
          Date Published
        </div>
        <div class="row">
            {{article.created_at.date}}
        </div>
      </div>
      <div class="col-sm-3">
          <div class="row">
            Categories
          </div>
          <div class="row">
              {%for category in article_categories %}
                <a href="{% url 'category' category.slug %}"><h4>{{category.name}}</h4></a>
              {%endfor%}
          </div>
        </div>
        <div class="col-sm-3">
          <div class= "align-middle">
              {% if user.is_authenticated%}
            <a class="btn btn-primary" href="{% url 'update_article' article.slug %}">
                    Edit
                 </a>
              {% endif %}
          </div>
          </div>
  </div>
</div>
<div class="container">
  <p></p>
  <p>
      {{article.content}}
      </p>
</div>

{% endblock %}
