
{% extends 'base.html' %}
{% load article_card %}
{% block content %}

    <div class="container">
      <h1> Featured </h1>
     <div class="row">
      {% for article in articles %}
        {% if article.featured == True %}
          {% article_card article %}
        {% endif %}
     {% endfor %}
    </div>
    </div>
    <div class="container">
      <h1>All Articles</h1>
    <div class="row">
      {% for article in articles %}
      {% article_card article %}
     {% endfor %}
    </div>
    </div>
{% endblock %}
