{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container d-flex justify-content-center">
    <div class="col-6">
      <div class="card">
        <h4 class="card-header"> {% block form_header %} {% endblock form_header %}</h4>
        <div class="card-body">
          <form action="{% block form_action %} {% endblock %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% block forms_errors%} 
              {% if form.errors%}
                <div class="form-group has-error">
                  <span class="help-block">{{form.text.errors}}</span>
                </div>
              {% endif %} 
            {% endblock%}
            {% block forms%} {{form|crispy}} {% endblock%}
            {% block buttons%} {% endblock%}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}