
{% extends 'base.html' %}
{% load article_card %}
{% block content %}


   <!-- Top Container -->
   <section class="top-container">

    <header class="featured" style="background: url({{featured_articles.0.image_url}})">
      <div class="d-flex align-items-end">
          <div class="container">
            <h1>{{featured_articles.0.title}}</h1>
         </div>
      </div>
    </header>
    <div class="top-box top-box-a" style="background: url({{featured_articles.1.image_url}})">
      <h4>{{featured_articles.1.title}}</h4>
    </div>
    <div class="top-box top-box-b" style="background: url({{featured_articles.2.image_url}})">
      <h4>{{featured_articles.2.title}}</h4>

    </div>
  </section>




  <div class="container-fluid">

  <div class="row">
      <div class="col-9">
        <h3>All Articles</h3>
        <div class="row">
          {% for article in articles %} {% article_card article %} {% endfor %}
      </div>
    </div>
      <div class="col-3">
        <h3>Upcoming Events</h3>
        <div class="row">
        {% for event in upcoming_events %}
        <a href="{% url 'events:event' event.slug %}" class="col-12 pb-2">
          <div class="events_advertisments" style="background-image:url({{event.image_url}})">
            <h6>{{event.date.date}}</h6>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>


</div>


{% endblock %}
