
{% extends 'base.html' %}
{% load article_card %}
{% block content %}


   <!-- Top Container -->
   <section class="top-container">

    <header class="featured" style="background: url({{featured_articles.0.picture.url}})">
      <div> <h1>{{featured_articles.0.title}}</h1></div>
    </header>
    <div class="top-box top-box-a" style="background: url({{featured_articles.1.picture.url}})">
      <h4>{{featured_articles.1.title}}</h4>
    </div>
    <div class="top-box top-box-b" style="background: url({{featured_articles.2.picture.url}})">
      <h4>{{featured_articles.2.title}}</h4>

    </div>
  </section>




  <div class="container">
  <h3>All Articles</h3>
    <div class="row">

    <div class="row col-9" >
      {% for article in articles %}
        {% article_card article %}
      {% endfor %}
    </div>
      <div class="row col-3">
        {% for event in upcoming_events %}
        <a href="{% url 'event' event.id %}">
          <div class ="events_advertisments"style="background-image:url({{event.picture.url}})">
            <h6>{{event.date}}</h6>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    </div>


{% endblock %}
