
{% extends 'base.html' %}
{% load article_card %}
{% load static%}
{% block stylesheets %}

  <link rel="stylesheet" href="{% static 'articles/css/articles_style.css' %}">
{% endblock %}
{% block content %}


   <!-- Top Container -->
   <section class="top-container"> 

 
 
    
      <a class="featured featured_block" href="{% url 'articles:article' featured_articles.0.slug %}"style="background-image:url({{featured_articles.0.image_url}}) ">
             
        <div class="overlay d-flex align-self-end">
              <div class="container">
                <h1> {{featured_articles.0.title}}</h1>
                
             </div>
            </div> 
         
          </a> 
       
        
      <a class="top-box top-box-a featured_block" href="{% url 'articles:article' featured_articles.1.slug %}" style="background-image: url({{featured_articles.1.image_url}})"> 
          <div class="overlay d-flex align-self-end">
              <div class="container"><div class="span-holder">
                <h3> <span class="span-align">{{featured_articles.1.title}}</span></h3></div>
             </div>
            </div> 
      
      </a> 
      
      <a class="top-box top-box-b featured_block" href="{% url 'articles:article' featured_articles.2.slug %}" style="background-image: url({{featured_articles.2.image_url}})"> 
      
          <div class="overlay d-flex text-algin-center">
              <div class="container"><div class="span-holder"></div>
                <h3><span class="span-align">{{featured_articles.2.title}}</span></h3></div>
             </div>
            </a> 
      
       
       
      
      </div> 
      
      </section> 




  <div class="container-fluid">

  <div class="row">
      <div class="col-9">
        <p></p>
        <div class="row">
          {% for article in articles %} {% article_card article %} {% endfor %}
      </div>
    </div>
    
      <div class="col-3 bg-g">
      <div class="event-header">  Upcoming Events  </div>
        <div class="row">
        {% for event in upcoming_events %}
        <a href="{% url 'events:event' event.slug %}" class="col-12 pb-2">
          <div class="events_advertisments" style="background-image:url({{event.image_url}})">
           <span class="event-date"> <span class="event-date-span"> {{event.date.day}}</span> 
           <span class="event-date-span"> {{ event.date|date:"M" }}</span></span>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
