

#sidebar {

        background-color: #aaa;
        width: 199px;
        height: 200px;
        margin: 50px;


}

#sidebar .sidebar-header {
    padding: 50px;
    background: #080808;
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    color: #fff !important;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #050505;
}
#sidebar ul li a:hover {
    color:  rgb(0, 57, 99);
    background: #fff;
    text-decoration: none;
    cursor: pointer;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #070707;
}

.verticalLine {
  border-left: solid #D3D3D3;
  border-width: 1pt;
  margin: 30px;
}
.profile-imge{
    margin-top: 5px;
    padding: 5px;
    border: solid black;
}

.rowspace {
  margin-top: 15px;
}

.profileBlock {
  padding: 20px;
  background-color: gainsboro;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button{
  background-color: #febb36;
  font-size: 16px;
  border: none;
}

.button:hover {
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgb(0, 57, 99);
  
}

.name{
    margin-top: 100px;
    font-size: 20px;
}
.searchbar{
  padding: 10px;
  font-size: 5px;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
}
