

#sidebar {
        background-color: #E6E6FA;
        width: 222px;
        height: 200px;
        margin: 30px;

}

#sidebar .sidebar-header {
    padding: 50px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    color: #fff !important;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #778899;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

.verticalLine {
  border-left: solid #D3D3D3;
  border-width: 1pt;
  margin: 30px;
}

.rowspace {
  margin-top: 15px;
}

.profileBlock {
  padding: 20px;
  background-color: gainsboro;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button{
  background-color: #febb36;
  font-size: 12px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #F39010
}
.name{
    margin-top: 100px;
    font-size: 20px;
}
