{% extends 'base.html' %}
{% load profile_card %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}
<div class="row">


<div class="wrapper col-2">
      <nav id="sidebar">
          <ul class="list-unstyled components">
              <li class="active"><a href="{%url 'profile_list' %}">All</a></li>
              <li><a href="{%url 'profile_list' %}?type=organization">Organization</a></li>
              <li><a href="{%url 'profile_list' %}?type=individual">Individuals</a></li>
          </ul>
      </nav>
</div>



  <div class="container col-10">
      <div>
          {% for profile in profiles %}
              {% profile_card profile %}
          {% endfor %}
      </div>
  </div>
  </div>
{% endblock %}
