{% extends 'base.html' %}
{% load profile_card %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}
<div class="row">


  <div class="wrapper col-3">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                  <form action="{% url 'profiles:index' %}?type={{request.GET.type}}" method="GET">
                  <div class="input-group searchbar">
                    <input type="text" class="form-control" name='q' placeholder="name or industry" value="{{request.GET.q}}">
                    <span class="input-group-btn">
                      <button class="btn btn-color-y" type="submit">Search</button>
                    </span>
                  </div>
                  </form>
                </li>
                <li><a href="{%url 'profiles:index' %}">All</a></li>
                <li><a href="{%url 'profiles:index' %}?type=organization&q={{request.GET.q}}">Organization</a></li>
                <li><a href="{%url 'profiles:index' %}?type=individual&q={{request.GET.q}}">Individuals</a></li>
            </ul>
        </nav>
  </div>
<div class="verticalLine">

</div>

  <div class="container-fluid col-6 rowspace">
      <div>
          {% for profile in profiles %}
              {% profile_card profile %}
          {% endfor %}
      </div>
  </div>
  <div class="container-fluid col-2">

  </div>

  </div>
{% endblock %}
