    {% extends 'base.html' %}
{% load profile_card %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}
<div class="row">


  <div class="wrapper col-3">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li><a href="{%url 'profiles:index' %}"><i class="far fa-square"></i> &nbsp All</a></li>
                <li><a href="{%url 'profiles:index' %}?type=organization"> <i class="far fa-square"></i> &nbsp Organization</a></li>
                <li><a href="{%url 'profiles:index' %}?type=individual"> <i class="far fa-square"></i> &nbsp Individuals</a></li>
            </ul>
        </nav>
  </div>
<div class="verticalLine">

</div>

  <div class="container-fluid col-6 rowspace">
      <div>
          {% for profile in profiles %}
              {% profile_card profile %}
          {% endfor %}
      </div>
  </div>
  <div class="container-fluid col-2">

  </div>

  </div>
{% endblock %}
