{% extends 'base.html' %}
{% load event_card %}
{%load article_card%}
{% block content %}
<div class="container">

    <h1> Hello, {{profile.user.username}}</h1>
    {% if  current_user %}
      <a href="{%url 'profiles:update' user.username%}" class="btn btn-primary float-right">Edit Profile</a>
    {% endif %}


    <table>
        <tr>
            <td>Name:</td>
            <td>

                {{profile.full_name}}


            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{profile.user.email}}</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{profile.age}}</td>
        </tr>
        <tr>
            <td>Type: </td>
            <td>
              {% if profile.user.is_individual %}
                individual
              {% else %}
                organization
              {% endif %}
            </td>
        </tr>
        <tr>
            <td>Website: </td>
            <td>{{profile.website}}</td>
        </tr>
    </table>
    <hr>
    <p>Bio: </p>
    <p> {{ profile.bio }} </p>

    {%if articles%}
    <hr>
    <h2>{{profile.full_name}}'s Articles</h2>
    <div class="row">
      {%for article in articles%}
      {% article_card article %}
      {%endfor%}
    </div>
    {%endif%}

    {% if  current_user %}
    <hr>
    <h2>My Events</h2>
    {% if user_events%}
    <div class="row">
    {%for event in user_events%}
    {% event_card event %}
    {%endfor%}
    </div>
    {%else%}
    <h3>you didn't register for an event</h3>
    {% endif %}
    {%endif%}

  </div>

{% endblock %}
