{% extends 'profile_base.html'%}
{% load event_card %}

{%block profile_name%}
{{profile.full_name}}
{%endblock%}
{%block diff%}
<table>
    <tr>
        <td>Age:  </td>
        <td>
          {{profile.age}}
        </td>
    </tr>
    <tr>
            <td>Interests:  </td>
            <td>
              {{profile.interest}}
            </td>
        </tr>
</table>
{%endblock%}
{%block author_name%}
{{profile.full_name}}
{% endblock %}
{%block fav_articles%}
{{profile.full_name}}
{% endblock %}

  {% block events_button%}
  <button class="button" type="button" id="Events" onclick="show_hide(event)">Events</button>
  {% endblock%}

  {% block events%}
  <div id="events">
    <h2>My Events</h2>
    {% if user_events%}
    <div class="row">
    {%for event in user_events%}
    {% event_card event %}
    {%endfor%}
    </div>
    {%else%}
    <h3>you didn't register for an event</h3>
    {% endif %}
    </div>
    {% endblock%}
