{% extends 'base.html' %}
{%load article_card%}
{% block content %}
<div class="container">
    <h1> Hello, {{profile.user.username}}</h1>
    {% if  current_user %}
      <a href="{%url 'profiles:update' user.username%}" class="btn btn-primary">Edit Profile</a>
    {% endif %}
    <table>
            <tr>
                <td>Name:</td>
                <td>{%block profile_name%}
                    
                    {%endblock%}
                </td>
            </tr>
            
            <tr>
                <td>Website: </td>
                <td><a href="{{profile.website}}">{{profile.website}}</a></td>
            </tr>
        </table>
        
        <p>Bio: </p>
        <p> {{ profile.bio }} </p>
        <hr>
        {% block diff %} {% endblock%}
        {%if articles%}
        <hr>
        <h2>{%block author_name%}{% endblock %}'s Articles</h2>
        <div class="row">
          {%for article in articles%}
          {% article_card article %}
          {%endfor%}
        </div>
        {%endif%}
        {% block events%}{% endblock%}

    </div>

    {% endblock %}
    
    