{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1> Hello, {{profile.user.username}}</h1>


    <table>
        <tr>
            <td>First Name:</td>
            <td>{{profile.user.first_name}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{profile.user.email}}</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{profile.age}}</td>
        </tr>
        <tr>
            <td>Type: </td>
            <td>
              {% if profile.user.is_individual %}
                individual
              {% else %}
                organization
              {% endif %}
            </td>
        </tr>
        <tr>
            <td>Website: </td>
            <td>{{profile.website}}</td>
        </tr>
    </table>
    <hr>
    <p>Bio: </p>
    <p> {{ profile.bio }} </p>
    {% if  current_user %}
      <a href="/" class="btn btn-primary">Edit Profile</a>
    {% endif %}
  </div>

{% endblock %}
