{% extends 'base.html' %}
{% load event_card %}
{%load article_card%}
{% block content %}
<div class="container">
    <h1> Hello, {{profile.user.username}}</h1>


    <table>
        <tr>
            <td>Name:</td>
            <td>
              {% if profile.user.is_individual %}
                {{profile.user.full_name}}
              {% else %}
                {{profile.company_name}}
              {% endif %}
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{profile.user.email}}</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{profile.age}}</td>
        </tr>
        <tr>
            <td>Type: </td>
            <td>
              {% if profile.user.is_individual %}
                individual
              {% else %}
                organization
              {% endif %}
            </td>
        </tr>
        <tr>
            <td>Website: </td>
            <td>{{profile.website}}</td>
        </tr>
    </table>
    <hr>
    <p>Bio: </p>
    <p> {{ profile.bio }} </p>
    <hr>
    {%if articles%}
    <h2>{{profile.user.full_name}}'s Articles</h2>
    <div class="row">
      {%for article in articles%}
      {% article_card article %}
      {%endfor%}
    </div>
    {%endif%}
    <hr>
    {% if  current_user %}
    <h2>My Events</h2>
    <div class="row">
    {%for event in user_events%}
    {% event_card event %}
    {%endfor%}
    </div>
    {%endif%}
    {% if  current_user %}
      <a href="/" class="btn btn-primary">Edit Profile</a>
    {% endif %}

  </div>

{% endblock %}
