{% extends 'base.html' %}
{%load article_card%}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}
{% block content %}

<div class="d-flex justify-content-end">

    {% if  current_user %}
      <a href="{%url 'profiles:update' user.username%}" class="btn btn-primary" >Edit Profile</a>
    {% endif %}
</div>

<div class="container">
<div class="profileBlock">


    <table>
            <tr>
                <td>Name:</td>
                <td>{%block profile_name%}

                    {%endblock%}
                </td>
            </tr>

            <tr>
                <td>Website: </td>
                <td><a href="{{profile.website}}">{{profile.website}}</a></td>
            </tr>
        </table>

        <p>Bio: </p>
        <p> {{ profile.bio }} </p>
        {% block diff %} {% endblock%}
        {%if articles%}
        </div>
          <hr>
        <h2>{%block author_name%}{% endblock %}'s Articles</h2>
        <div class="row">
          {%for article in articles%}
          {% article_card article %}
          {%endfor%}
        </div>
        {%endif%}
        {%if fav_articles%}
        <hr>
        <h2>{%block fav_articles%}{% endblock %}'s Favorite Articles</h2>
        <div class="row">
          {%for article in fav_articles%}
          {% article_card article %}
          {%endfor%}
        </div>
        {%endif%}
        {% block events%}{% endblock%}

    </div>
    {% endblock %}
