
{% extends 'base.html' %}
{% load event_card %}
{% block content %}
<div class="row">
        <div class="col-md-9">
      
        </div class="col-md-3">
        <div class="ml-auto">
      
      
        <form action="" method="GET">
        <input type="text" name='q' placeholder="Search">
        <input type="submit" value="Search">
        </form>
        </div>
        <div>
        </div>
  <div class="container">

    
        {%if user.is_superuser %}
        <a class="btn btn-primary" href="{% url 'add_event' %}"> Add New Event</a>
        {% endif %}
    <h1>Up Coming Events</h1>
    <div class="row">
        {% for event in upcoming_events %}
            {% event_card event %}
        {% endfor %}
    </div>
    <h1>Past Events</h1>
    <div class="row">
          {% for event in past_events %}
              {% event_card event %}
          {% endfor %}
      </div>

  </div>
{% endblock %}
