
{% extends 'base.html' %}
{% load event_card %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'Events/css/event_style.css' %}">
{% endblock %}
{% block content %}

<div class="row">
        <div class="col-md-8">
      
        </div>
        <div  class="col-md-4 mr-0 pr-0">
      
      
        <form action="" method="GET">
      
        <div class="col-lg-10">
                <div class="input-group">
                  <input type="text" class="form-control" name='q' placeholder="Search">
                  <span class="input-group-btn">
                    <button class="btn btn-color-y" type="submit">Search</button>
                  </span>
                </div>
              </div>
        </form>
        </div>
  <div class="container">


        {%if user.is_superuser %}
        <a class="btn btn-color-y" href="{% url 'events:add' %}"> Add New Event</a>
        {% endif %}
    <h1>Up Coming Events</h1>
    <div class="row">
        {% for event in upcoming_events %}
        <a class="a-card" href="{% url 'events:event' event.slug %}">
            {% event_card event %}
        </a>
        {% endfor %}
    </div>
    <h1>Past Events</h1>
    <div class="row">
          {% for event in past_events %}
          <a class="a-card" href="{% url 'events:event' event.slug %}">
                {% event_card event %}
            </a>
          {% endfor %}
      </div>

  </div>
</div>
{% endblock %}
