{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
  <script type="text/javascript" src="{% static 'Events/js/register.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{event.title}}</h1>
    <p>{{event.content}}</p>

    <h3>{{event.organizer}}</h3>
    <h4>{{event.date}}</h4>

    {%if user.is_superuser %}
      <a class="btn btn-primary" href="{% url 'events:update' event.slug %}">Edit</a>
    {%endif%}

    {% if event.event_type%}
      <a href="{% url 'events:type' event.event_type.slug %}">
        <h3>Type: {{event.event_type.name}}</h3>
      </a>
    {% endif %}
    {%if not user.is_organization%}
    <button class="btn btn-primary" id="button_text" onclick="register('{% url 'events:register' event.slug %}')">
        {%if isregistered%}Unregister{%else %}Register{%endif%}
      </button>
    {%endif%}
      <h1>Maximum attendees: {{event.maximum_attendees}}</h1><br>
      <h1>Remaining seats: <span id="remaining_seats">{{remaining_seats}}</span></h1>
    <a href="{{event.location_url}}">{{event.location_name}}</a>
    <img src={{event.image_url}}>
  </div>
{% endblock %}
