{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container d-flex justify-content-center">
    <div class="col-6">
      <div class="card">
        <h4 class="card-header">Individual Information</h4>
        <div class="card-body">
          <form action="{% url 'indi_form' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if individual_form.errors%}
              <div class="form-group has-error">
                <span class="help-block">{{individual_form.text.errors}}</span>
              </div>
             {% endif %}
             {{individual_form|crispy}}
            <input class="btn btn-primary" type="submit" name="" value="Save">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
