{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container d-flex justify-content-center">
    <div class="col-6">
      <div class="card">
        <h4 class="card-header">login</h4>
        <div class="card-body">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {%if form.errors%}
            <div class="form-group has-error">
              <span class="help-block">{{form.text.errors}}</span>
            </div>
           {% endif %}
             {{form|crispy}}

            <input class="btn btn-primary" type="submit" name="" value="login">
            <h5>Not a member yet? <a href="{% url 'signup'%}">Signup</a></h5> 
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
